{{> loginComp}} 
<div class="login-div">
       <form action="/loginUs" method="post" class="loginForm">
    <h1>Login</h1>
              <input class="LoginInp" type="text" placeholder="email" name="username"/>
              <input class="LoginInp" type="password" placeholder="password" name="password"/>
              <button class="loginBtn">Login</button>
       </form>
</div>