<nav class="profNav">
    <div class="profileNavs">
        <a href="/admin/home" class="profNavA">Home</a>
        <a href="/admin/users" class="profNavA">All Users</a>
        <a href="/admin/product" class="profNavA">Pending Products</a>
    </div>


    <div class="profileNavs">
        <form action="/searchUs" method="post">
            <input class="logInp" type="text" name="name" placeholder="Search User by Name" />
            <button class="loginBtn">Search User</button>
        </form>

        <a href="/logout" class="profNavA">Logout</a>
    </div>
</nav>