<nav class="log-reg">
    <div>
        <img src="http://localhost:8000/photo/logo.png">
        <p class="a1">Մի գրեք մեր հեռախոսահամարը, պարզապես հիշեք այն 345-758-6892</p>
        <p class="a1">Տելեմարկետ՝ դարձրեք ձեր կյանքն առավել հարմարավետ:</p>
    </div>
    <div class="in-log-reg">
        <p class="profNavA">Stil haven't an account?? Register <a href="/register" class="navBarA">Here</a> </p>
        <p class="profNavA">For main page click<a href="/" class="navBarA">Here</a></p>

        <form action="/loginUs" method="post">
            <input class="logInp" type="text" placeholder="email" name="username"/>
            <input class="logInp" type="password" placeholder="password" name="password"/>
            <button class="loginBtn">Login</button>
        </form>
    </div>
</nav>