<nav class="profNav">
    <div class="profileNavs">
        <a href="/profile/home" class="profNavA">Home</a>
        <a href="/profile/users" class="profNavA">All Users</a>
        <a href="/profile/myFriends" class="profNavA">My Friends</a>
        <a href="/profile/friendRequest" class="profNavA">Friend Requests</a>
        <a href="/profile/myProduct" class="profNavA">My Product</a>
        <a href="/profile/Favorite" class="profNavA">My Favorite</a>
        <a href="/profile/myCard"class="profNavA" >Card</a>
    </div>
    <div class="profileNavs">
        <form action="/searchUs" method="post">
            <input class="logInp" type="text" name="name" placeholder="Search User by Name"/>
            <button class="loginBtn">Search User</button>
        </form>

         <a href="/logout" class="profNavA">Logout</a>
    </div>
</nav>
